.tools {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.tools > button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
